<%= render "users/profilenav", user: @user%>

<h2>Following</h2>
<ul>
  <% @user.leaders.each do |follow_request| %>
    <%= render "follow_requests/follow_request", follow_request: follow_request %>
  <% end %>
</ul>
